{% extends 'base.html' %} {% block content %}

<form method="POST" action="{% url 'add_student' %}" class="flex flex-col">
  {% csrf_token %}
  <h3>Registrar</h3>
  {% for field in register_form %}
    <label for="{{ field.id_for_label }}"
      >{{ field.field.label }} {{field.field.widget.input}}</label>
    {% comment %} if isn't select {% endcomment %}
    {% if field.field.widget.input_type != 'select' %}
      <input
        type="{{ field.field.widget.input_type }}"
        name="{{ field.name }}"
        placeholder="{{ field.field.widget.attrs.placeholder }}"
      />
    {% comment %} if is select (this is much improvable ) {% endcomment %}
    {% else %} {% comment %} if is select with multiple options {% endcomment %}
      {% if field.field.widget.allow_multiple_selected %}
        <select name="{{ field.name }}" multiple>
          <option value="">-- Ninguno --</option>
          {% for obj in field.field.queryset %}
          <option value="{{ obj.pk }}">{{ obj }}</option>
          {% endfor %}
        </select>
        {% comment %} if is select without multiple options {% endcomment %}
      {% else %}
        <select name="{{ field.field.name }}">
          <option value="">-- Ninguno --</option>
          {% for obj in field.field.queryset %}
          <option value="{{ obj.pk }}">{{ obj }}</option>
          {% endfor %}
        </select>
      {% endif %}
    {% endif %}
  {% endfor %}
  <button type="submit" name="register-form-submit">Registrar</button>
</form>
{% endblock %}
