<!-- Edit user modal -->
<div
  id="register_form"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center p-4 w-full md:inset-0 h-modal md:h-full"
>
  <div class="relative w-full max-w-2xl h-full md:h-auto">
    <!-- Modal content -->
    <form method="POST" class="relative rounded-lg shadow bg-gray-700">
      {% csrf_token %}
      <!-- Modal header -->
      <div
        class="flex justify-between items-start p-4 rounded-t border-b border-gray-600"
      >
        <h3 class="text-xl font-semibold text-white">Registrar</h3>

        <button
          type="button"
          class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-600 hover:text-white"
          data-modal-toggle="register_form"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          {% for field in form %}
          <div class="col-span-6 sm:col-span-3">
            <label
              for="{{ field.id_for_label }}"
              class="block mb-2 text-sm font-medium text-white"
              >{{ field.label }}</label
            >
            {% if field.field.widget.input_type != 'select' %}
            <input
              type="{{ field.field.widget.input_type }}"
              name="{{ field.name }}"
              class="shadow-sm border text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
              placeholder="{{ field.field.widget.attrs.placeholder }}"
            />
            {% else %}
            <select
              name="{{ field.name }}"
              class="border text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
            >
            
              <option value="">-- Ninguno --</option>
              {% for obj in field.field.queryset %}
              <option value="{{ obj.pk }}">{{ obj }}</option>
              {% endfor %}
            </select>
            {% endif %}
          </div>
          {% endfor %} {% for error in field.errors %}
          <div class="">{{ error }}</div>
          {% endfor %}
        </div>
      </div>

      <!-- Modal footer -->
      <div
        class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-600"
      >
        <button
          type="submit"
          class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>
