<div class="grid fr gap-y-10 content-center justify-items-center">
  <div class="grid grid-cols-2 gap-x-10 w-full">
    <a href="#" class="block w-full h-full p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-600">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Estudiantes totales</h5>
      <p class="font-normal text-gray-400">20</p>
    </a>

    <a href="#" class="block h-full p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-600">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Ingresos mensuales totales</h5>
      <p class="font-normal text-gray-400">$300</p>
    </a>
  </div>

  <div class="grid grid-cols-3 w-full h-full p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-600">
    <a href="#1">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Canto</h5>
      <p class="font-normal text-gray-400">6 estudiantes</p>
      <p class="font-normal text-gray-400">$90</p>
    </a>
    <a href="#2">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Piano</h5>
      <p class="font-normal text-gray-400">10 estudiantes</p>
      <p class="font-normal text-gray-400">$130</p>
    </a>
    <a href="#3">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Cuatro</h5>
      <p class="font-normal text-gray-400">4 estudiantes</p>
      <p class="font-normal text-gray-400">$80</p>
    </a>
  </div>
</div>