<div class="grid fr gap-y-10 content-center justify-items-center">
  <div class="grid grid-cols-2 gap-x-10 w-full">
    <a
      href="#"
      class="block h-full p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-600"
    >
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ title }}</h5>
      <p class="font-normal text-gray-400">{{ subtitle }}</p>
    </a>

    <div
      class="grid grid-cols-3 w-full h-full p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-600"
    >
      {% for item in data %}
      <a href="#{{ item.id }}">
        <h5 class="mb-2 text-2xl font-bold tracking-tight {{ item.color }}">{{ item.title }}</h5>
        <p class="font-normal text-gray-400">{{ item.subtitle }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
