<div
        id="drawer-navigation"
        class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full w-80 bg-gray-800"
        tabindex="-1"
        aria-labelledby="drawer-navigation-label"
        >
        <h5
          id="drawer-navigation-label"
          class="text-base font-semibold uppercase text-gray-400"
        >
          Menú
        </h5>

        <div class="py-4 overflow-y-auto">
          <ul class="space-y-2">
            <li>
              <a
                href="{% url 'home' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/ios-glyphs/30/9ca3af/pie-chart--v1.png"
                />
                <span class="ml-3">Inicio</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'student' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/ios-glyphs/30/9ca3af/student-center.png"
                />
                <span class="ml-3">Estudiantes</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'representative' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/ios-glyphs/30/9ca3af/parent-guardian.png"
                />
                <span class="ml-3">Representante</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'teacher' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/ios-filled/30/9ca3af/teacher.png"
                />
                <span class="ml-3">Profesores</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'payment' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/external-creatype-glyph-colourcreatype/30/9ca3af/external-dolar-miscellaneous-user-interface-v2-creatype-glyph-colourcreatype.png"
                />
                <span class="ml-3">Pagos</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'inscription' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/glyph-neue/30/9ca3af/student-center.png"
                />
                <span class="ml-3">Inscripciones</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'course' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  src="https://img.icons8.com/ios-glyphs/30/9ca3af/grand-piano.png"
                />
                <span class="ml-3">Cursos</span>
              </a>
            </li>

            <li>
              <a
                href="{% url 'reports' %}"
                class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700"
              >
                <img
                  width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/9ca3af/analytics.png" alt="analytics"
                />
                <span class="ml-3">Reportes</span>
              </a>
            </li>
          </ul>
        </div>
      </div>